@font-face {
    font-family: "Standard";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
body {
    font-family: "Standard";
/*    background-image: url(../img/jumbotron.jpg);*/
}
.navbar-inverse {
    background: darkolivegreen;
    background: url(../img/navbar.jpg);
/*    background-color: darkolivegreen;*/
    border-bottom: 0px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: darkgreen;
}

.navbar-inverse .navbar-nav .nav-element a,
.nav-element a:hover,
.nav-element a:focus{
    color: darkgreen;
}

.navbar-inverse .navbar-header .navbar-brand {
    color: darkgreen;
}

.panel-heading {
    min-height: 10px;
    
}

.panel-body {
    
}

.panel-title {
    font-size: 20px;
}